.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products {
  width: 1500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.product {
  background-color: azure;
  width: 300px;

  display: flex;
  flex-direction: column;

  &__image {
    background-color: brown;
    width: 300px;
    height: 300px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__details {
    padding: 20px;
  }

  &__name {
    font-size: 30px;
  }

  &__price {
    font-size: 25px;
  }

  &__btn {
  }
}
